
header {
    background-color: rgb(249, 249, 215);
    text-align: center;
    padding: 20px;
}

#nav-cabecera {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-button{
    background-color: #66aa2b;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.user-button:hover{
    background-color: #4d7f1b;
}
.marca {
    font-family: 'Pacifico', cursive;
    color: rgb(102, 170, 43);
    font-size: larger;
}

.emoji {
    font-family: "Noto Color Emoji", sans-serif;
}

#utilidades {
    display: flex;
    max-width: 100%;
    gap: 10%;
    padding-right: 10dvh;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    white-space: nowrap;
}

#busqueda-form {
    order: 3;
    display: flex;
    flex-direction: column;
    min-width: min-content;
    position: relative;
}

#perfil {
    order: 2;
    text-decoration: none;
    color: black;
    min-width: min-content;
}


#busqueda-form {
    order: 3;
    display: flex;
    min-width: min-content;
    width: 400px;
}

#barra-buscador {
    position: relative;
    display: flex;
    align-items: center;
}

#buscador {
    width: 100%;
    box-sizing: border-box;
}

#suggestions {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 1;
    top: 100%;
}
