
header {
    background-color: rgb(249, 249, 215);
    text-align: center;
    padding: 20px;
}

#nav-cabecera {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.marca {
    font-family: 'Pacifico', cursive;
    color: rgb(102, 170, 43);
    font-size: larger;
}

#utilidades {
    display: flex;
    max-width: 100%;
    gap: 10%;
    padding-right: 10dvh;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    white-space: nowrap;
}

#busqueda-form {
    order: 3;
    display: flex;
    min-width: min-content;
}

#perfil {
    order: 2;
    text-decoration: none;
    color: black;
    min-width: min-content;
}

#carrito {
    order: 1;
    text-decoration: none;
    color: white;
    background-color: rgb(102, 170, 43);
    padding: 8px 16px;
    min-width: min-content;
}

